fastapi
uvicorn[standard]
jinja2
python-dotenv

# LangChain + Tools
langchain
langchain-community
langchain-openai
langchain-core

# Embeddings, LLMs
openai
python-multipart
# PDF Loader
pypdf
google-search-results
# Vector DB
faiss-cpu

# Web scraping / search tool
serpapi

# Jinja2 templates rendering
aiofiles
